.float-left {
    float: left;
    margin-right: 20px; 
  }
  
  .float-right {
    float: right;
    margin-left: 20px; 
  }
  
  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }